.colorTituloPrincipal {
    color: azure;;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.textoNavbar {
    font-size: 12px;
}

.textoFooter {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

body {
    background-color: #3c4044;
} 
.card-body {
    background: #9a9a9b;
    
  } 
.text-uppercase {
    color: aliceblue;
}

.fs-5{
    color: aliceblue;
}
  

  .card  {
  
    margin: 1em 0;
}