.colorTituloPrincipal {
    color:black;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.textoNavbar {
    font-size: 12px;
}

.textoFooter {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}